@import url('header.css'); /* ヘッダーのスタイル */
@import url('card.css');   /* カードのスタイル */
@import url('card_top.css');


body {
    width: 100%; /* ブラウザ幅になるように */
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #EC6B0F;
    border: none;
    font-size: large;
    color: #ffffff;
}


/* 正解したあとの画像のスタイル */
.front {
    user-select: none;
    pointer-events: none;
}
/* エラ〜メッセージのスタイル */
.error {
    color: red;
}


input[type="file"] {
    padding: 20px;
}

